[account] {
    cursor: pointer;
    height: 100%;
    font-size: 23px !important;
    padding: 19px 24px 19px 20px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, .2),
        0 0px 1px 0 rgba(0, 0, 0, .14),
        0 0px 1px -1px rgba(0, 0, 0, .12);
}

[account] > md-icon {
    vertical-align: baseline;
    padding-right: 4px;
}

.account-panel {
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
}

.account-panel > div {
    border-bottom: #E0E0E0 solid 1px;
}

.account-panel .fa-3x {
    height: 48px;
    line-height: 48px;
}

.account-panel md-icon:not(.fa-3x) {
    margin-right: 4px;
}

.account-panel .md-button {
    margin: 0;
    padding: 6px 14px;
    border-radius: 0;
}

.account-panel .md-button .md-ripple-container {
    border-radius: 0;
}