calendar-md {
    height: 0;
}

.breadcrumb {
    font-size: 14px;
    background-color: lightgrey;
    border-radius: 16px;
    height: auto;
    margin: -8px -8px -8px -4px;
    padding: 6px 10px !important;
    float: left;
}

md-content.agenda .breadcrumb {
    margin: 8px 0 0 0;
    text-align: left !important;
    width: auto !important;
}

div[tabindex] {
    padding-bottom: 0;
}

calendar-md md-content > md-content.agenda > * > * :first-child {
    width: 60px;
    text-align: left;
}