calendar-md {
    height: 0;
}

.breadcrumb {
    overflow: visible;
    font-size: 14px;
    background-color: lightgrey;
    border-radius: 16px;
    height: auto;
    line-height: auto;
    margin: -8px -8px -8px -4px;
    padding: 6px 10px !important;
    float: left;
}

div[tabindex] {
    padding-bottom: 0;
}