md-input-container.md-block.md-input-focused .md-input {
    border-color: #039be5;
}

md-input-container.md-block.md-input-focused label {
    color: #039be5;
}

.thin-margin .layout-margin > * {
    margin: 7px;
}

.md-button.md-fab {
    width: 42px;
    height: 42px;
}

md-fab-speed-dial {
    position: absolute;
    right: -8px;
    bottom: -8px;
}

md-list-item.documents>div.md-button:first-child {
    padding-right: 0;
}

.fixed-56-width {
    max-width: 56px;
    min-width: 56px;
}

iframe {
    display: none;
}

#docs-fab {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#docs-fab .md-fab-toolbar-wrapper {
    height: 64px;
}

#docs-fab md-fab-trigger .md-button {
    margin: 11px;
}

#docs-fab md-fab-actions {
    margin-top: 0;
}

#docs-fab md-toolbar md-icon {
    margin-right: 8px;
}

#docs-fab md-toolbar .md-fab-action-item {
    width: 100%;
}

#docs-all {
    margin-right: 14px;
    margin-left: 8px;
}

#docs-all:not(.md-checked) .md-icon {
    border-color: #ffffffc0;
}