md-input-container.md-block.md-input-focused .md-input {
    border-color: #039be5;
}

md-input-container.md-block.md-input-focused label {
    color: #039be5;
}

.thin-margin .layout-margin > * {
    margin: 7px;
}

.md-button.md-fab {
    width: 42px;
    height: 42px;
}

md-fab-speed-dial {
    position: absolute;
    right: -8px;
    bottom: -8px;
}

md-list-item.documents>div.md-button:first-child {
    padding-right: 0;
}

.download {
    max-width: 56px;
    min-width: 56px;
}