@media (max-width: 599px) {
    .layout-xs-column md-card {
        max-height: 350px;
    }
}

.fill-width {
    width: 100%;
}

.align-right {
    line-height: 22px;
    text-align: end;
}

.align-right .md-caption {
    color: rgba(0, 0, 0, .54);
}

.limited-width .md-list-item-inner {
    width: 80% !important;
}

.limited-width .md-avatar-icon {
    min-width: 36px;
}