.align-right {
    text-align: end;
    min-width: 90px;
}

.align-right h3 {
    font-size: 15px !important;
    margin-bottom: 4px !important;
}

.align-right p.md-caption {
    font-size: 12px !important;
}

.today-classes {
    border-left: 4px solid;
}

.today-classes .md-list-item-text:first-child {
    min-width: 86px;
    max-width: 86px;
}

.today-classes .md-list-item-text:first-child h3:first-child {
    margin-bottom: 5px;
}

.today-classes md-icon {
    min-width: 16px;
}

md-list-item.removeable {
    padding-right: 0;
}

md-list-item.removeable:hover, [account]:hover {
    background-color: rgba(160, 160, 160, .25);
}

.removeable, [account] {
    transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.removeable > .md-secondary-container {
    transition: width ease .2s;
    overflow: hidden;
    width: 15px;
}

.removeable:hover > .md-secondary-container {
    width: 52px;
}

.removeable .fix-icon {
    margin-top: 10px !important;
}

.archived {
    opacity: .5;
}

.archived > .md-secondary-container {
    display: none;
}

.list-button {
    position: absolute;
    width: calc(100% - 52px);
    left: 0;
    bottom: 1;
    top: 1;
}

.md-nav-bar {
    height: auto;
}

.md-nav-item:first-of-type {
    margin-left: 0;
}

.md-button._md-nav-button {
    min-width: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0 6px;
    text-transform: capitalize;
}
