@media (max-width: 599px) {
    .layout-xs-column md-card {
        max-height: 350px;
    }
}

.fill-width {
    width: 100%;
}

.align-right {
    text-align: end;
    min-width: 90px;
}

.align-right h3 {
    font-size: 15px !important;
    margin-bottom: 4px !important;
}

.align-right p.md-caption {
    font-size: 12px !important;
}

.today-classes {
    border-left: 4px solid;
}

.today-classes .md-list-item-text:first-child {
    min-width: 86px;
    max-width: 86px;
}

.today-classes .md-list-item-text:first-child h3:first-child {
     margin-bottom: 5px;
}

.today-classes md-icon {
    min-width: 16px;
}

md-list-item.removeable {
    padding-right: 0;
}

md-list-item.removeable:hover, [account]:hover {
    background-color: rgba(160, 160, 160, .25);
}

.removeable, [account] {
    transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.removeable > .md-secondary-container {
    transition: width ease .2s;
    overflow: hidden;
    width: 15px;
}

.removeable:hover > .md-secondary-container {
    width: 52px;
}

.removeable .fix-icon {
    margin-top: 10px !important;
}

.md-button.card-option {
    opacity: 0;
    transition: opacity ease .2s;
}

md-toolbar:hover .md-button.card-option {
    opacity: 1;
}

.md-button.card-option:last-child {
    margin-right: 0;
}