@media (max-width: 599px) {
    .layout-xs-column md-card {
        max-height: 350px;
    }
}

.fill-width {
    width: 100%;
}

.align-right {
    text-align: end;
    min-width: 90px;
}

.align-right h3 {
    font-size: 15px !important;
    margin-bottom: 4px !important;
}

.align-right p.md-caption {
    font-size: 12px !important;
}
