[ng-click] {
    cursor: pointer;
}

#sidenav, #right-margin {
    transition: width .8s ease;
}

#right-margin {
    width: 0;
}

#right-margin.inflate,
#sidenav {
    width: 200px;
}

#toolbar, #sidenav {
    height: 64px;
    max-height: none;
}

#sidenav.open {
    height: inherit;
}

#sidenav.tight {
    width: 64px;
}

#sidenav md-toolbar {
    font-size: 28px;
}

#sidenav md-toolbar md-icon {
    height: 36px;
    min-width: 32px;
    margin: 14px 16px;
}

#sidenav md-toolbar md-icon .dome {
    fill: #2e7d32;
}

#sidenav md-toolbar span {
    font-weight: 300;
    margin-left: 8px
}

#sidenav md-toolbar,
#sidenav md-content {
    overflow-x: hidden;
}

#sidenav.ng-animate md-content,
md-card {
    overflow: hidden;
}

#sidenav md-list-item .md-button {
    padding: 0 14px;
}

#sidenav md-list-item .md-avatar-icon {
    margin-right: 14px;
    font-size: 18px;
    padding: 6px;
}

md-toolbar {
    min-height: 64px;
}

#toolbar {
    padding-right: 0;
}

.md-toolbar-tools > md-icon:first-child,
#toolbar > .md-button:last-child {
    margin-right: 8px;
}

ng-view, ng-view md-card {
    margin: 10px;
}

md-card {
    background-color: #fafafa;
}

md-dialog .md-toolbar-tools {
    max-height: 100%;
    padding: 0 24px;
}

md-dialog p {
    font-size: 20px;
    padding: 4px 0;
}

.course-info-icons md-icon {
    vertical-align: baseline;
    font-size: 20px;
    color: #424242;
    margin-right: 8px;
}

.fix-icon {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 20px;
    margin-top: 8px !important;
}

.no-margin {
    margin: 0;
}

.fa-1x {
    font-size: 1.6em;
}

[account] {
    cursor: pointer;
    height: 100%;
    font-size: 23px !important;
    padding: 19px 24px 19px 20px;
    box-shadow: 0 0px 3px 0 rgba(0,0,0,.2),
        0 0px 1px 0 rgba(0,0,0,.14),
        0 0px 1px -1px rgba(0,0,0,.12);
}

[account] > md-icon {
    vertical-align: baseline;
    padding-right: 4px;
}

.account-panel {
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
}

.account-panel > div {
    border-bottom: #E0E0E0 solid 1px;
}

.account-panel .fa-3x {
    height: 48px;
    line-height: 48px;
}

.account-panel md-icon:not(.fa-3x) {
    margin-right: 4px;
}