[ng-click] {
    cursor: pointer;
}

#toolbar {
    height: 64px;
    max-height: 64px;
}

md-sidenav {
    width: 210px;
    height: 64px;
}

md-sidenav md-toolbar {
    font-size: 28px;
}

md-sidenav md-toolbar md-icon {
    min-width: 52px;
    height: 40px;
    margin: 12px;
}

md-sidenav md-toolbar span {
    font-weight: 300;
    margin-left: 8px
}

md-sidenav md-toolbar,
md-sidenav md-content {
    overflow-x: hidden;
}

md-sidenav.ng-animate md-content,
md-card {
    overflow: hidden;
}

md-sidenav.open {
    height: inherit;
}

md-sidenav.tight {
    width: 76px;
}

#tighten-btn,
md-sidenav {
    transition: all ease 0.8s;
}

#tighten-btn.ng-hide {
    opacity: 0;
}

md-list {
    padding: 0;
}

md-sidenav .md-avatar-icon {
    font-size: 20px;
    padding: 10px !important;
}

#email-circle {
    margin-right: 16px;
    padding: 8px;
    border-radius: 50%;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
}

.fix-icon {
    width: 36px;
    text-align: center;
    font-size: 20px;
}

.no-margin {
    margin: 0;
}

md-dialog .md-toolbar-tools {
    max-height: 100%;
    padding: 0 24px;
    font-size: 28px;
}

ng-view, ng-view md-card {
    margin: 12px;
}

md-pagination-wrapper, md-tab-item {
    width: 100%;
}

/* Schedule card start */
*, *:before, *:after {
    box-sizing: inherit;
}

.card-content {
    height: 100%;
    padding: 0;
    position: relative;
}

.day {
    width: 19%;
    float: left;
    border-right: 1px solid #cfd8dc;
}

.day.as-hours-head {
    width: 5%;
}

.day-label {
    position: absolute;
    width: 19%;
    height: 5%;
    top: 1%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.hour {
    position: absolute;
    width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid #cfd8dc;
}

.half.hour {
    border-bottom-color: #eceff1;
}

.hour.as-days-head {
    height: 5%;
    width: calc(95% + 1px);
    margin-left: calc(5% - 1px);
}

.hour-label {
    position: absolute;
    width: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.class {
    width: calc(19% - 1px);
    position: absolute;
    padding: 0.5rem 0.5rem 0.7rem 0.7rem;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.class:hover {
    box-shadow: inset 0 0 10rem 2rem rgba(255, 255, 255, 0.1);
}

.course-name {
    font-weight: 500;
}

md-dialog p {
    font-size: 20px;
    padding: 4px 0;
}

md-dialog p md-icon {
    margin-right: 8px;
}
/* Schedule card end */

.breadcrumb {
    background-color: lightgrey;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px !important;
    float: left;
}

#course-info md-icon, md-dialog p md-icon {
    font-size: 20px;
    color: #424242;
}