body > [ng-include] {
    min-height: 80%;
}

[ng-click] {
    cursor: pointer;
}

#toolbar {
    height: 64px;
    max-height: 64px;
}

#logo * {
    width: 54px;
    height: 42px;
    font-size: 28px;
    vertical-align: middle;
}

md-sidenav {
    transition: height ease 0.8s;
    width: auto;
}

.md-avatar-icon {
    font-size: 20px;
    padding: 11px !important;
}

.logged-in {
    height: 100%;
}

.logged-out {
    height: 64px;
}

md-dialog .md-toolbar-tools {
    max-height: 100%;
    padding: 0 24px;
    font-size: 28px;
}