#email-circle {
    margin-right: 16px;
    padding: 8px;
    border-radius: 50%;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
}

md-dialog .md-toolbar-tools {
    max-height: 100%;
    padding: 0 24px;
    font-size: 28px;
}

md-pagination-wrapper, md-tab-item, .fill-width {
    width: 100%;
}

/* Schedule card start */
*, *:before, *:after {
    box-sizing: inherit;
}

.card-content {
    height: 100%;
    padding: 0;
    position: relative;
}

.day {
    width: 19%;
    float: left;
    border-right: 1px solid #cfd8dc;
}

.day.as-hours-head {
    width: 5%;
}

.day-label {
    position: absolute;
    width: 19%;
    height: 5%;
    top: 1%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.hour {
    position: absolute;
    width: 95%;
    margin-left: 5%;
    border-bottom: 1px solid #cfd8dc;
}

.half.hour {
    border-bottom-color: #eceff1;
}

.hour.as-days-head {
    height: 5%;
    width: calc(95% + 1px);
    margin-left: calc(5% - 1px);
}

.hour-label {
    position: absolute;
    width: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.class {
    width: calc(19% - 1px);
    position: absolute;
    padding: 0.5rem 0.5rem 0.7rem 0.7rem;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.class:hover {
    box-shadow: inset 0 0 10rem 2rem rgba(255, 255, 255, 0.1);
}

.course-name {
    font-weight: 500;
}

/* Schedule card end */

.breadcrumb {
    background-color: lightgrey;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px !important;
    float: left;
}

#slideshow-new-logo {
    position: relative;
}

#slideshow-new-logo span {
    background-color: white;
    position: absolute;
    height: 18px;
    width: 22px;
    left: 140px;
    top: 74px;
}

md-input-container.md-block.md-input-focused .md-input {
    border-color: #039be5;
}

md-input-container.md-block.md-input-focused label {
    color: #039be5;
}