#welcome-slogan {
    max-width: 720px;
    max-height: 180px;
}

#welcome-slogan img {
    object-fit: contain;
    max-width: calc(100% - 16px);
}

#welcome-text p {
    font-size: 30px;
    line-height: 40px;
}

#welcome-text span {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 36px;
}

.background-pattern {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.background-pattern i {
    background: url(/static/img/pattern.png);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    opacity: 0.1;
}
