#welcome-slogan {
    max-width: 720px;
    max-height: 180px;
}

#welcome-slogan img {
    object-fit: contain;
    max-width: calc(100% - 16px);
}

#welcome-text p {
    font-size: 30px;
    line-height: 40px;
}

#welcome-text span {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 36px;
}
