<script type="text/ng-template" id="courses">
    <md-select ng-model="$ls.selected.course" class="no-margin" flex-xs="100">
        <md-option ng-repeat="id in $ls.terms[$toolbar.term].courses" ng-value="id" ng-if="$ls.courses[id].title && id.length < 8">
            {{ ::$ls.courses[id].title }}
        </md-option>
    </md-select>
</script>

<div layout="row" flex>
    <md-card flex-gt-xs="30" ng-include="$media('gt-xs') ? 'documents'.url() : $ls.selected.coursesCard.url()" card></md-card>
    <div layout="column" ng-if="$media('gt-xs')" flex>
        <div layout="row" flex="50">
            <md-card ng-include="::'updates'.url()" card></md-card>
            <md-card ng-include="::'deadlines'.url()" card></md-card>
        </div>
        <div layout="row" flex>
            <md-card ng-include="::'info'.url()" flex="66" card></md-card>
            <md-card ng-include="::'mailto'.url()" card></md-card>
        </div>
    </div>
</div>

<navbar cards="::cards" select="coursesCard" default="documents" ng-if="$media('xs')"></navbar>
