<script type="text/ng-template" id="courses">
    <md-select ng-model="$ls.selected.course" class="no-margin" flex="30">
        <md-option ng-repeat="id in $ls.terms[$toolbar.term].courses" ng-value="id" ng-if="$ls.courses[id].title">{{ $ls.courses[id].title }}</md-option>
    </md-select>
</script>

<div layout="row" flex>
    <md-card flex="30">
        <md-toolbar md-colors="{background: 'brown-600'}">
            <div class="md-toolbar-tools" style="padding-right: 30px" flex>
                <md-icon md-font-icon="fa fa-file-text fa-fw"></md-icon>
                <span flex>Documents</span>
                <md-button class="md-icon-button" style="margin-right: 2px" ng-hide="mass" ng-click="mass = !mass">
                    <md-icon md-font-icon="fa fa-cloud-download fa-2x fa-fw"></md-icon>
                </md-button>
                <md-button ng-show="mass" style="margin-right: 16px" ng-click="downloadFiles()"
                           md-colors="{background: 'amber-300'}">Download Selected</md-button>
                <md-checkbox ng-show="mass" ng-checked="all" ng-click="all = !all"></md-checkbox>
            </div>
        </md-toolbar>
        <md-content flex>
            <md-list flex>
                <md-list-item ng-repeat="document in $ls.documents | inCourse: $ls.selected.course | orderBy: 'uploadDate'"
                              class="md-2-line documents" ng-click="openFile(document)">
                    <div class="md-list-item-text" flex>
                        <h3>{{ document.title }}</h3>
                        <p>{{ document.file }}</p>
                    </div>
                    <div class="md-list-item-text fixed-56-width">
                        <md-button ng-hide="mass" ng-href="{{ document.url }}" download="{{ document.file }}" name="{{ document.file }}" class="md-icon-button">
                            <md-icon md-font-icon="fa fa-download fa-2x"></md-icon>
                        </md-button>
                        <md-checkbox ng-show="mass" ng-checked="all" class="md-accent md-hue-3" style="margin: 16px" flex></md-checkbox>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
    <div layout="column" flex>
        <div layout="row" flex="50">
            <md-card flex>
                <md-toolbar md-colors="{background: 'primary-600'}">
                    <div class="md-toolbar-tools" flex>
                        <md-icon md-font-icon="fa fa-bell fa-fw"></md-icon>
                        <span flex>Updates</span>
                    </div>
                </md-toolbar>
                <md-content flex>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-click="null" ng-repeat="update in $ls.updates | inCourse: $ls.selected.course | orderBy: '-time'">
                            <div class="md-list-item-text">
                                <h3>{{ update.title }}</h3>
                            </div>
                            <div class="md-list-item-text align-right">
                                <h3>{{ update.time | timeDistance }}</h3>
                                <p class="md-caption">{{ update.event }}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card>
            <md-card flex>
                <md-toolbar md-colors="{background: 'orange-600', color: 'grey-A100'}">
                    <div class="md-toolbar-tools" flex>
                        <md-icon md-font-icon="fa fa-tasks fa-fw"></md-icon>
                        <span flex>Deadlines</span>
                    </div>
                </md-toolbar>
                <md-content flex>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-repeat="deadline in $ls.deadlines | inCourse: $ls.selected.course | orderBy: '-dueDate'" ng-click="null">
                            <div class="md-list-item-text" flex>
                                <h3>{{ deadline.title }}</h3>
                            </div>
                            <div class="md-list-item-text align-right">
                                <h3>{{ deadline.dueDate | timeDistance }}</h3>
                                <p class="md-caption">Due {{ deadline.dueDate | date: 'shortTime' }}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card>
        </div>
        <div layout="row" flex>
            <md-card flex="66">
                <md-toolbar md-colors="{background: 'pink-500', color: 'grey-A100'}">
                    <div class="md-toolbar-tools" flex>
                        <md-icon md-font-icon="fa fa-info-circle fa-fw"></md-icon>
                        <span flex>Course Info</span>
                    </div>
                </md-toolbar>
                <md-content class="course-info-icons thin-margin" layout="row" flex>
                    <div ng-repeat="column in course.columns" layout="column" layout-align="space-between start" flex layout-margin>
                        <p ng-repeat="row in column">
                            <md-icon md-font-icon="fa fa-{{ row[2] }} fa-fw"></md-icon>
                            {{ row[1] }} <span ng-if="row[3]" md-colors="{color: 'default-grey-500'}">{{ row[3] }}</span>
                            <md-tooltip md-direction="right">{{ row[0] }}</md-tooltip>
                        </p>
                    </div>
                </md-content>
            </md-card>
            <md-card flex>
                <md-toolbar md-colors="{background: 'light-blue-500', color: 'grey-A100'}">
                    <div class="md-toolbar-tools" flex>
                        <md-icon md-font-icon="fa fa-envelope fa-fw"></md-icon>
                        <span flex>Email My Doctor</span>
                    </div>
                </md-toolbar>
                <md-content flex layout-padding>
                    <div layout="column">
                        <md-input-container style="margin-top: 4px" class="md-block">
                            <label>Subject</label>
                            <input type="text">
                        </md-input-container>
                        <md-input-container style="margin: -24px 0 -8px" class="md-block">
                            <label>Description</label>
                            <textarea rows="2"></textarea>
                        </md-input-container>
                        <div layout="row" style="position: relative">
                            <md-button class="md-raised no-margin" md-colors="{background: 'light-blue-500', color: 'grey-A100'}">Send</md-button>
                        </div>
                    </div>
                </md-content>
            </md-card>
        </div>
    </div>
</div>