<div layout="row" flex-gt-xs="60" layout-xs="column">
    <md-card flex-gt-xs>
        <md-toolbar md-colors="{background: 'orange-600', color: 'grey-A100'}">
            <div class="md-toolbar-tools" flex>
                <span flex>Updates</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="update in $ls.updates | orderBy: '-time'" ng-click="null">
                    <div class="md-list-item-text" flex>
                        <h3>{{ update.title }}</h3>
                        <p>{{ update.course }}</p>
                        <div class="md-secondary align-right" layout="column">
                            <span>{{ update.time | date: 'MMM d' }}</span>
                            <span class="md-caption">{{ update.event }}</span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
    <md-card flex-gt-xs>
        <md-toolbar md-colors="{background: 'blue-600'}">
            <div class="md-toolbar-tools" flex>
                <span flex>Emails</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="index in repeat" ng-init="email = emails[index%3]" ng-click="null">
                    <div class="md-avatar-icon fix-icon" md-colors="{background: 'blue-grey-400'}">{{ getInitials(email.sender) }}</div>
                    <div class="md-list-item-text" flex>
                        <h3>{{ email.subject }}</h3>
                        <p>{{ email.sender }}</p>
                        <p class="md-secondary">{{ email.time }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
    <md-card flex-gt-xs>
        <md-toolbar md-colors="{background: 'primary-600'}">
            <div class="md-toolbar-tools" flex>
                <span flex>Upcomming Deadlines</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="index in repeat" ng-init="task = tasks[index%3]" ng-click="null">
                    <div class="md-list-item-text" flex>
                        <h3>{{ task.title }}</h3>
                        <p>{{ task.group }}</p>
                        <md-progress-linear style="margin-top: 4px" md-mode="determinate" flex="80"
                                            value="{{task.title.length * (index+3) % 90}}"></md-progress-linear>
                        <div class="md-secondary align-right" layout="column">
                            <span>{{ task.day }}</span>
                            <span>{{ task.time }}</span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</div>
<div layout="row" flex-gt-xs="40" layout-xs="column">
    <md-card flex-gt-xs layout="row">
        <md-button class="no-margin fill-width" layout="column" layout-align="end start" layout-padding
                   style="background: url('https://images.pexels.com/photos/147634/pexels-photo-147634.jpeg?dl&w=640&h=426') center">
            <div layout="column" layout-align="center center" layout-padding style="font-size: 20px">
                <div layout="row" layout-margin>
                    <md-icon md-font-icon="fa fa-calendar-plus-o fa-4x" md-colors="{color: 'grey-200'}"></md-icon>
                    <md-icon md-font-icon="fa fa-calendar-minus-o fa-4x" md-colors="{color: 'grey-200'}"></md-icon>
                </div>
                <p md-colors="{color: 'grey-200'}">Design Your Schedule</p>
            </div>
        </md-button>
    </md-card>
    <md-card flex-gt-xs>
        <md-toolbar md-colors="{background: 'lime-700', color: 'grey-A100'}">
            <div class="md-toolbar-tools" flex>
                <span flex>Today's Classes</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="class in classes" ng-click="null"
                              style="border-left: 4px solid" md-colors="{borderColor: class.color}">
                    <div class="md-list-item-text" flex="30">
                        <h3 style="margin-bottom: 10px">{{ class.time[0] }}</h3>
                        <h3>{{ class.time[1] }}</h3>
                    </div>
                    <div class="md-list-item-text" flex>
                        <h3><md-icon md-font-icon="fa fa-map-marker fa-lg fa-fw" md-colors="{color: 'grey-800'}"
                                     style="line-height: .75em"></md-icon>
                            {{ class.place[0] }} {{ class.place[1] }}</h3>
                        <p>{{ class.name }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
    <md-card flex-gt-xs>
        <md-toolbar md-colors="{background: 'teal-600'}">
            <div class="md-toolbar-tools" flex>
                <span flex>Grades</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-1-line" ng-repeat="grade in grades" ng-click="null">
                    <div class="md-list-item-text" flex>
                        <p>{{ grade.course }}</p>
                    </div>
                    <div class="md-secondary md-avatar-icon fix-icon" style="margin-right: 0"
                         md-colors="{background: grade.color + '-600', color: 'grey-50'}">{{ grade.letter }}</div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
    <md-card flex-gt-xs>
        <md-toolbar md-colors="{background: 'red-600'}">
            <div class="md-toolbar-tools" flex>
                <span flex>Holds</span>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-1-line" ng-click="null">
                    <div class="md-list-item-text" flex>
                        <p>Hold On Courses Registration</p>
                        <p class="md-secondary">Until 26th April</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</div>