<html ng-app="UOSHUB" ng-cloak ng-strict-di>
    <head>
        <meta name="theme-color" content="#2E7D32"/>
        <meta name="author" content="Omar Einea">
        <meta name="description" content="The Unified Hub of UOS Websites">
        <meta name="keywords" content="University of Sharjah, UOS, uos udc, uos bb, uos email">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-bind="title">UOS HUB</title>
        <base href="/">
        <!--INCLUDES-->
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "UOS HUB",
                "url": "https://uoshub.com",
                "logo": "https://github.com/UOSHUB/Images/raw/master/logo.png",
                "description": "The Unified Hub of UOS Websites"
            }
        </script>
    </head>
    <body ng-controller="layout" layout="row" md-colors="::{background: 'accent-50'}">
        <div class="background-pattern" ng-if="currentPage == 'welcome'"><i></i></div>
        <md-sidenav id="sidenav" class="md-sidenav-left md-whiteframe-1dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="sidenav"
                    layout="column" ng-class="{'open': $ls.session, 'tight': $ls.session && $ls.selected.tightNav && $media('gt-sm')}">
            <md-toolbar layout="row" layout-align="start center" md-colors="::{background: 'grey-A100'}" ng-click="goto('/')">
                <md-icon md-svg-icon="logo" md-colors="::{fill: 'accent-800'}"></md-icon>
                <b md-colors="::{color: 'accent-800'}">UOS</b>
                <span md-colors="::{color: 'primary-800'}">HUB</span>
            </md-toolbar>
            <md-content md-colors="::{background: 'accent-900'}" layout="column" flex>
                <md-list flex>
                    <md-list-item class="md-1-line" ng-repeat="(page, icon) in ::pages" ng-click="toggleSidenav(); goto(page)"
                                  md-colors="{background: page == currentPage ? 'accent-700' : 'accent-900'}">
                        <md-icon md-font-icon="fa fa-{{ ::icon }} fa-fw" class="md-avatar-icon"></md-icon>
                        <div class="md-list-item-text" flex>
                            <p class="md-title">{{ ::page.capitalize() }}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list-item ng-click="sendFeedback($event)" id="feedback">
                    <md-icon md-font-icon="fa fa-comment-o fa-fw" class="md-avatar-icon"></md-icon>
                    <div flex>Send Us Feedback</div>
                </md-list-item>
            </md-content>
        </md-sidenav>
        <md-content layout="column" style="background: rgba(0, 0, 0, 0)" flex>
            <md-toolbar md-whiteframe="1" md-colors="::{background: 'grey-A100'}">
                <div class="md-toolbar-tools" id="toolbar" layout="row">
                    <md-button ng-show="$ls.session" class="md-icon-button md-accent md-hue-3"
                               ng-click="toggleSidenav(true)">
                        <md-icon md-font-icon="fa fa-bars fa-lg"></md-icon>
                    </md-button>
                    <md-button ng-hide="$ls.session" class="md-accent md-hue-2" ng-click="goto('calendar')">Academic Calendar</md-button>
                    <ng-include src="hasToolbar && currentPage" layout="row" flex></ng-include>
                    <div ng-hide="hasToolbar" flex></div>
                    <span ng-show="$ls.session" md-colors="::{color: 'grey-800'}" account>
                        <md-icon md-colors="::{color: 'grey-800'}" md-font-icon="fa fa-user-circle-o"></md-icon>
                        {{ ::$ls.student.name }}
                    </span>
                    <md-button ng-hide="$ls.session" class="md-primary md-hue-2" login>Login</md-button>
                </div>
            </md-toolbar>
            <div id="content" layout="row" flex>
                <ng-view layout="column" flex ng-cloak></ng-view>
                <div id="right-margin" ng-class="{'inflate': !$ls.session && $media('gt-sm')}"></div>
            </div>
        </md-content>
    </body>
</html>