<html ng-app="UOSHUB" ng-cloak>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-bind="title">UOS HUB</title>
        <base href="/">
        <!--INCLUDES-->
    </head>
    <body ng-controller="layout" layout="row" md-colors="::{background: 'accent-50'}">
        <md-sidenav id="sidenav" class="md-sidenav-left" ng-class="{'open': $ls.loggedIn, 'tight': $ls.loggedIn && $ls.selected.tightNav}"
                    md-whiteframe="1" md-is-locked-open="$mdMedia('gt-xs')" flex-none>
            <md-toolbar layout="row" layout-align="start center" md-colors="::{background: 'grey-A100'}">
                <md-icon md-svg-icon="logo" md-colors="::{fill: 'accent-800'}"></md-icon>
                <b md-colors="::{color: 'accent-800'}">UOS</b>
                <span md-colors="::{color: 'primary-800'}">HUB</span>
            </md-toolbar>
            <md-content md-colors="::{background: 'accent-900'}" flex>
                <md-list flex>
                    <md-list-item class="md-1-line" ng-repeat="(page, icon) in pages" ng-click="goto(page)"
                                  md-colors="{background: page == currentPage ? 'accent-700' : 'accent-900'}">
                        <md-icon md-font-icon="fa fa-{{ icon }} fa-fw" class="md-avatar-icon"></md-icon>
                        <div class="md-list-item-text" flex>
                            <p class="md-title">{{ page.capitalize() }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content layout="column" md-colors="::{background: 'accent-50'}" flex>
            <md-toolbar md-whiteframe="1" md-colors="::{background: 'grey-A100'}">
                <div class="md-toolbar-tools" id="toolbar">
                    <md-button ng-show="$ls.loggedIn" class="md-icon-button md-accent md-hue-3"
                               ng-click="$ls.selected.tightNav = !$ls.selected.tightNav" style="margin-right: 16px">
                        <md-icon md-font-icon="fa fa-bars fa-lg"></md-icon>
                    </md-button>
                    <md-button ng-hide="$ls.loggedIn" class="md-accent md-hue-2" ng-click="goto('calendar')">Academic Calendar</md-button>
                    <ng-include src="hasToolbar && currentPage" layout="row" flex></ng-include>
                    <div ng-hide="hasToolbar" flex></div>
                    <span ng-show="$ls.loggedIn" md-colors="::{color: 'grey-800'}" account>
                        <md-icon md-colors="::{color: 'grey-800'}" md-font-icon="fa fa-user-circle-o"></md-icon>
                        {{ $ls.student.firstName }} {{ $ls.student.lastName }}
                    </span>
                    <md-button ng-hide="$ls.loggedIn" class="md-primary md-hue-2" login>Login</md-button>
                </div>
            </md-toolbar>
            <div id="content" layout="row" flex>
                <ng-view layout-gt-xs="column" flex ng-cloak></ng-view>
                <div id="right-margin" ng-class="{'inflate': !$ls.loggedIn}" hide-xs></div>
            </div>
        </md-content>
    </body>
</html>