<md-dialog flex="25" md-colors="{background: 'default-grey-A100'}">
    <form layout="column" class="no-margin" ng-submit="submit({sid, pin})">
        <md-toolbar flex="10">
            <div class="md-toolbar-tools" flex>
                <span class="md-headline" flex>Welcome to UOS HUB</span>
                <md-button class="md-icon-button" style="margin-left: 0" ng-click="cancel()">
                    <md-icon md-font-icon="fa fa-times fa-lg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-margin>
            <br>
            <div layout-margin layout="column">
                <md-input-container>
                    <label>Student ID</label>
                    <input type="text" ng-model="sid" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="pin" required>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary">Login</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
