roboto.css==https://fonts.googleapis.com/css?family=Roboto:300,400
fontawesome.css==https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
angular-material.css==https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.11/angular-material.min.css
angular.js==https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js
angular-route.js==https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js
angular-animate.js==https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-animate.min.js
angular-aria.js==https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-aria.min.js
angular-messages.js==https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-messages.min.js
angular-sanitize.js==https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-sanitize.min.js
angular-storage.js==https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js
angular-material.js==https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.11/angular-material.min.js
angular-material-calendar.js==https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.min.js
