<script type="text/ng-template" id="schedule">
    <md-select ng-model="$ls.selected.term" ng-click="$toolbar.getTerms()" flex="25">
        <md-option ng-repeat="term in $ls.terms | orderTerms" ng-value="term">{{ term | termTitle }}</md-option>
    </md-select>
    <span flex></span>
    <md-button class="md-accent md-hue-2" ng-click="$ls.selected.semester = -1">Design Your Schedule</md-button>
</script>

<md-card flex>
    <md-card-content layout="row">
        <div class="day as-hours-head" md-colors="::{background: 'green-50'}"></div>
        <div class="day" ng-repeat="day in [1,2,3,4]"></div>

        <div class="hour as-days-head" md-colors="::{background: 'green-50'}"></div>
        <div ng-repeat-start="fraction in fractions" class="hour-label blue-grey-text" style="top: {{ 2 + fraction * height }}%">
            {{ labels[$index][0] }}<span class="hide-on-med-and-down">{{ labels[$index][1] }}</span>
        </div>
        <div ng-if="!$last" class="half hour" style="top: {{ 5 + height * (0.5 + fraction) }}%"></div>
        <div class="hour" style="top: {{ 5 + fraction * height }}%" ng-repeat-end></div>

        <div class="classes-container" ng-repeat="(id, course) in $ls.semesters[$ls.selected.semester]">
            <div ng-repeat="point in course.points" ng-click="showCourse($event, id, point[0])"
                 class="class" md-colors="::{background: course.color, color: 'grey-A100'}"
                 ng-style="{height: course.length * height + '%', left: point[0] + '%', top: point[1] + '%'}">
                <span class="course-name">{{ course.name }}</span><br>
                <md-icon md-font-icon="fa fa-user fa-fw" md-colors="{color: 'grey-A100'}"></md-icon> {{ course.doctor[0] }}<br>
                <md-icon md-font-icon="fa fa-map-marker fa-fw" md-colors="{color: 'grey-A100'}"></md-icon> {{ course.place[0] }} {{ course.place[1] }}
            </div>
        </div>
        <div ng-repeat="day in days" class="day-label blue-grey-text text-darken-2" style="left: {{ 5 + $index * 19 }}%">
            {{ day }} <span class="hide-on-small-only">{{ dates[$index] }}</span>
        </div>
    </md-card-content>
</md-card><!--Schedule card end-->

<script type="text/ng-template" id="class-dialog">
    <md-dialog flex="40" md-colors="{background: 'default-grey-A100', color: 'default-grey-800'}" layout="column">
        <md-toolbar flex="10" md-colors="{background: 'default-' + course.color, color: 'default-grey-A100'}">
            <div class="md-toolbar-tools" flex>
                <span flex>{{ course.name }}</span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="fa fa-times fa-lg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="course-info-icons" layout="row" layout-margin>
            <div ng-repeat="column in course.columns" layout="column" layout-align="space-between start" flex layout-margin>
                <p ng-repeat="row in column">
                    <md-icon md-font-icon="fa fa-{{ row[2] }} fa-fw"></md-icon>
                    {{ row[1] }} <span ng-if="row[3]" md-colors="{color: 'default-grey-500'}">{{ row[3] }}</span>
                    <md-tooltip md-direction="right">{{ row[0] }}</md-tooltip>
                </p>
            </div>
        </md-dialog-content>
    </md-dialog>
</script>