<md-toolbar>
    <div class="md-toolbar-tools" flex>
        <md-icon md-font-icon="fa fa-{{ ::icon }} fa-fw"></md-icon>
        <span flex>Documents</span>
        <md-button ng-click="$ls.zip ? downloadZip() : downloadFiles()" id="docs-download"
                   ng-show="$ls.mass && any" md-colors="::{background: 'amber-500', color: 'grey-A100'}">
            <b>Download</b>
            <md-icon ng-hide="$ls.zip" md-font-icon="fa fa-list-ul fa-lg"></md-icon>
            <md-icon ng-show="$ls.zip" md-font-icon="fa fa-archive fa-lg"></md-icon>
        </md-button>
        <md-checkbox id="docs-all" ng-show="$ls.mass" ng-checked="all" ng-click="all = !all; any = true"></md-checkbox>
    </div>
</md-toolbar>

<md-content>
    <loading items="$ls.documents" color="color"></loading>
    <md-list ng-click="any = true">
        <md-list-item ng-repeat="document in $ls.documents | filter: {'course': $ls.selected.course} | orderBy: 'uploadDate'"
                      class="md-2-line documents" ng-click="selected = $ls.mass ? !selected : downloadFile(document.id)">
            <div class="md-list-item-text" flex>
                <h3>{{ ::document.title }}</h3>
                <p>{{ ::document.file }}</p>
            </div>
            <div class="md-list-item-text fixed-56-width">
                <md-icon ng-hide="$ls.mass" md-font-icon="fa fa-download fa-2x"></md-icon>
                <md-checkbox ng-checked="all || selected" class="md-accent md-hue-3 document-checkbox"
                             id="{{ ::document.id }}" style="margin: 16px" ng-show="$ls.mass" flex></md-checkbox>
            </div>
        </md-list-item>
    </md-list>
</md-content>

<md-fab-toolbar id="docs-fab" md-direction="right">
    <md-fab-trigger class="align-with-text">
        <md-button class="md-fab" md-colors="::{background: 'amber-500'}">
            <md-icon md-font-icon="fa fa-cloud-download fa-1x" md-colors="::{color: 'grey-A100'}"></md-icon>
        </md-button>
    </md-fab-trigger>

    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button class="md-button" ng-click="$ls.mass = false">
                <md-icon md-font-icon="fa fa-download fa-1x"></md-icon>one
            </md-button>
            <md-button class="md-button" ng-click="$ls.mass = true; $ls.zip = false">
                <md-icon md-font-icon="fa fa-list-ul fa-1x"></md-icon>many
            </md-button>
            <md-button class="md-button" ng-click="$ls.mass = true; $ls.zip = true">
                <md-icon md-font-icon="fa fa-archive fa-1x"></md-icon>zip
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
