<md-list-item class="md-2-line removeable" ng-repeat="update in $ls.updates | orderBy: '-time'">
    <div class="md-list-item-text">
        <h3>{{ update.title }}</h3>
        <p>{{ $ls.courses[update.course].title }}</p>
    </div>
    <div class="md-list-item-text align-right">
        <h3>{{ update.time | timeDistance }}</h3>
        <p class="md-caption">{{ update.event }}</p>
    </div>
    <div class="md-secondary">
        <md-button class="md-icon-button" ng-click="dismissUpdate(update.dismiss)">
            <md-icon md-font-icon="fa fa-trash fa-1x"></md-icon>
        </md-button>
    </div>
</md-list-item>
